<div class="container-fluid">
  <div class="row mt-2">
    <div [ngClass]="isSidePanelOPen? 'col-8' : 'col-12' ">
      <div class="card">
        <div class="card-header bg-dark d-flex justify-content-between">
          <h6 class="text-light"><b>All Packages</b></h6>
          <button class="btn btn-sm btn-secondary" (click)="ShowSidePanel()">Add</button>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover table-bordered">
            <thead class="bg-secondary text-light text-center">
              <tr>
                <th>Sr No</th>
                <th>Package Name</th>
                <th>Client Name</th>
                <th>Package Start Date</th>
                <th>Package End Date</th>
                <th>Is Active</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of packageArray;let sr=index">
                <td>{{sr+1}}</td>
                <td>{{item.packageName}}</td>
                <td>{{item.clientName}}</td>
                <td>{{item.packageStartDate | date:
                  "dd-MMM-yyy" }}</td>
                <td>{{item.packageEndDate | date:
                  "dd-MMM-yyy" }}</td>
                <td>{{item.isPackageActive }}</td>
                <td class="text-center">
                  <button class="btn btn-dark btn-sm mx-3" (click)="onEdit(item.clientPackageId)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="onDelete(item.clientPackageId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-4" *ngIf="isSidePanelOPen">
      <div class="card">
        <div class="card-header bg-dark d-flex justify-content-between">
          <h6 class="text-light"> Add Packages</h6>
          <button class="btn btn-sm btn-secondary" (click)="closeSidePanel()">Close</button>
        </div>
        <div class="card-body lh-lg">
          <form #form="ngForm">
            <div class="row">
              <div class="col-6">

                <label>Clients</label>
                <select class="form-select" name="clientId" [(ngModel)]="packageObj.clientId">
                  <option value="0" disabled>Select Client</option>
                  <option [value]="item.clientId" *ngFor="let item of clientArray">
                    {{item.clientName}}
                  </option>
                </select>
              </div>

              <div class="col-6">
                <label>Packages</label>
                <select class="form-select" name="packageId" [(ngModel)]="packageObj.packageId">
                  <option value="0" disabled>Select Packages</option>
                  <option [value]="item.packageId" *ngFor="let item of clientpackArray">
                    {{item.packageName}}
                  </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="">Package Start Date</label>
                <input type="date" name="packageStartDate" [(ngModel)]="packageObj.packageStartDate"
                  class="form-control">
              </div>
              <div class="col-6">
                <label for="">Package End Date</label>
                <input type="date" name="date" [(ngModel)]="packageObj.packageEndDate" class="form-control">
              </div>
            </div>

            <div class="col-6">
              <label>Is Active</label> <br>
              <input type="checkbox" name="isActive" [(ngModel)]="packageObj.isPackageActive">
            </div>

            <div class="col-12">
              <div class="text-center mt-4">
                <button type="button" class="btn btn-danger btn-sm mx-3" (click)="onReset()">Reset</button>
                <button type="button" class="btn btn-dark btn-sm" [disabled]="form.invalid"
                  *ngIf="packageObj.clientPackageId == 0" (click)="saveClient()">Save</button>
                <button type="button" class="btn btn-dark btn-sm" *ngIf="packageObj.clientPackageId != 0"
                  (click)="UpdateClient()">Update</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-4">
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" (click)="closeModel()" data-bs-dismiss="modal"></button>
        </div> -->
        <!-- <div class="modal-body">
          <form action="">
            <div class="row">
              <div class="col-6">
                <label class="pe-3">Package Name</label>
                <input type="text" name="packageName" class="form-control" [(ngModel)]="packageObj.packageName">
              </div>
              <div class="col-6">
                <label class="pe-3">Package cost</label>
                <input type="text" name="packageCost" class="form-control" [(ngModel)]="packageObj.packageCost">
              </div>
            </div>
          </form>
        </div> -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()" data-bs-dismiss="modal">Close</button>
        </div> -->

      <!-- </div>
    </div>
  </div>
</div> -->
